# DEV || PROD
NODE_ENV=DEV

# Postgres (see docker/docker-compose.yml)
DB_HOST=localhost
DB_PORT=5678
DB_USER=commitai
DB_NAME=commitai
DB_PASSWORD=
DB_SSL=

# https://aistudio.google.com/app/apikey
GEMINI_API_KEY=

# MasDepan's Proxy
# Ignore this part. leave it "-".
MASDEPAN_PROXY_APIKEY=-
MASDEPAN_PROXY_BASEURL=-